h1 {
	text-align: center;
	color: #000000;
	font-style: italic;
}

h2 {
	text-align: center;
	color: #C71585;
	background-color: black;
}

.whatchLink:visited {
	color:blue;
}

.details:hover {
	background-color: black;
	color: white;
}

ul {
	background-color: white;	
}

li {
	list-style: none;
}

li:before {
	content: "→";
}

.mainImage {
	background: url(Gladiator.jpg);
	box-shadow: inset 0px 0px 20px 20px #000; 
	width: 1000px; 
	height: 562px; 
	margin: auto; 
}

.secondImage {
	background: url(Inception.jpg);
	box-shadow: inset 0px 0px 20px 20px #000; 
	width: 1000px; 
	height: 563px; 
	margin: auto; 
}

.actors:hover {
	background-color: black;
	color: white;
}

.actors {
	background-color: white;
}

p {
	text-align: center;
	color: #FFA500;
	background-color: white;
}

iframe {
	margin-left: 30%;
}

audio {
	margin-left: 40%;
}

label {
	display: block;
	margin-bottom: 10px;
	font-size: 200%;
}

textarea {
	width: 1500px; 
	height: 200px;
	resize: none;
}

footer {
	text-align: right;
	color: #00FF00;
}

.mailLink {
	color: #FF00FF;
}







