h1 {
	text-align: center;
	color: #000000;
	font-style: italic;
	box-shadow: 0 0 20px 0 black;
}

h2 {
	text-align: center;
	color: #C71585;
	background-color: black;
	box-shadow: 0 0 20px 0 black;
}

.detailsCell {
	box-shadow: 0 0 20px 0 #D2691E;
}

.whatchLink:visited {
	color: blue;
}

.details:hover {
	background-color: black;
	color: white;
}

ul {
	background-color: white;
}

li {
	list-style: none;
}

li:before {
	content: "→";
}

.actorsCell {
	box-shadow: 0 0 20px 0 #800000;
}

.actors:hover {
	background-color: black;
	color: white;
}

.actors {
	background-color: white;
}

p {
	text-align: center;
	color: #FFA500;
	background-color: white;
}

iframe {
	margin-left: 10%;
	box-shadow: 0 0 20px 0 black;
}

.synopsis {
	box-shadow: 0 0 10px 5px white;
}

label {
	display: block;
	margin-bottom: 10px;
	font-size: 200%;
}

textarea {
	width: 1500px;
	height: 200px;
	resize: none;
}

footer {
	text-align: right;
	color: #00FF00;
}

.mailLink {
	color: #FF00FF;
}